{% extends 'base.html' %}

{% block content %}

{% load static %}

<section>
  <h1>view order summery</h1>
  <a href="{% url 'my-orders-details' %}" class="float-end btn btn-warning"> <i class="fa fa-reply"></i> back to order list</a>
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="shadow card">
          <div class="card-header">
            <h3>order view</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>shipping details</h4>
                <h6>shipping details</h6>
                <h6>first name - {{orders.firstname}}</h6>
                <h6> last name - {{orders.lastname}}</h6>
                <h6>email - {{orders.email}}</h6>
                <h6> phone - {{orders.phone}}</h6>
                <div> address - {{orders.address}} {{orders.state}},{{orders.city}}
                </div>
                



              </div>
              <div class="col-md-6">
                <table>
                  <h4>order details</h4>
                  <thead>
                    <tr>
                      <th>name</th>
                      <th>quantity</th>
                      <th>price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                {% for item in orderItem %}
                    <tr>
                      <th>{{item.product.name}}</th>
                      <th>{{item.quantity}}</th>
                      <th>{{item.price  | stringformat:'d'}}</th>
                      <th><img src="{{ item.product.p_img.url }}" alt="" width="50px" height="50px"></th>
                    
                    </tr>
                 {% endfor %}
                  </tbody>
                </table>

<hr>
<h6>total amount : {{orders.total_price  | stringformat:'d'}}</h6>
                <h6>payment mode : {{orders.payment_mode}}</h6>
                <h6>order status : {{orders.status}}</h6>
                <h6>tracking number : {{orders.tracking_num}}</h6>
                
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</section>


{% endblock content %}